<div class="section-inner">
    <h2 class="heading">About Me</h2>
    <div class="content">
        <div class="row">
            <div class="primary col-md-8 col-sm-12 col-xs-12">
                <p>I'm a geek that enjoys working on websites whether it be on the front-end using jQuery or AngularJS, or in the back-end handling data.</p>
                <p>After working in web development for 10+ years I have picked up a lot of things along the way from defining coding standard, automating deployment process via Octopus Deploy, and designing new application architectures.</p>
                <p>Beyond programming I enjoy spending time with with my family, playing board games (I have an extensive collection), video games (smaller collection), and reading. I'm a major geek at heart and will quote movies ad nauseum. You have been warned.</p>
            </div>
            <div class="secondary col-md-4 col-sm-12 col-xs-12">
                <aside class="info aside section">
                    <div class="section-inner">
                        <h2 class="heading sr-only">Basic Information</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                <li title="location"><i class="fa fa-lg fa-map-marker"></i><span class="sr-only">Location:</span>Southern New Hampshire, US</li>
                                <li title="email"><i class="fa fa-lg fa-envelope-o"></i><span class="sr-only">Email:</span><a href="#">coreyatess@gmail.com</a></li>
                                <li title="website"><i class="fa fa-lg fa-rocket"></i><span class="sr-only">Website:</span><a href="http://www.coreytess.io"target="_blank">http://www.coreytess.io</a></li>
                                <li title="website"><i class="fa fa-lg fa-rocket"></i><span class="sr-only">Website:</span><a href="http://www.coreytess.net" target="_blank">http://www.coreytess.net</a></li>
                            </ul>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</div>