<div class="row d-flex justify-content-center">
    <div class=" col-lg-6 col-md-8 mt-2">
        <div class="card">
            <div class="card-block">
                <div class="form-header">
                    <h3>Login</h3>
                </div>
                <form [formGroup]="login" (ngSubmit)="onSubmit(login)">
                    <div layout="row" layout-margin [ngClass]="{'has-error':!login.controls['email'].valid && login.controls['email'].touched}">
                        <md-input-container flex>
                            <input mdInput type="text" placeholder="email" [formControl]="login.controls['email']" name="email">
                        </md-input-container>
                    </div>
                    <div layout="row" layout-margin [ngClass]="{'has-error':!login.controls['password'].valid && login.controls['password'].touched}">
                        <md-input-container flex>
                            <input mdInput type="password" placeholder="password" [formControl]="login.controls['password']" name="password">
                        </md-input-container>
                    </div>
                    <div layout="row" class="justify-content-center" layout-margin>
                        <button type="submit" class="btn btn-primary" [disabled]="!login.valid">Login</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="options">
                    <p><a routerLink="/password-reset">Forgot Password?</a></p>
                </div>
            </div>
        </div>
    </div>
</div>