<div class="alert" *ngIf="error">
    {{ error }}
</div>

<div class="row d-flex justify-content-center">
    <div class=" col-lg-6 col-md-8 mt-2">
        <div class="card">
            <div class="card-block">
                <div class="form-header purple darken-4">
                    <h3><i class="fa fa-lock"></i> Login:</h3>
                </div>
                <form #formData='ngForm' (ngSubmit)="onSubmit(formData)">
                    <div class="md-form">
                        <i class="fa fa-envelope prefix"></i>
                        <input type="text" id="email" name="email" class="form-control" (ngModel)="email" required>
                        <label for="email">Email</label>
                    </div>
                    <div class="md-form">
                        <i class="fa fa-lock prefix"></i>
                        <input type="password" id="password" name="password" class="form-control" (ngModel)="password" required>
                        <label for="password">Password</label>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-deep-purple" [disabled]="!formData.valid">Login</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="options">
                    <p>Forgot <a routerLink="/password-reset">Password?</a></p>
                </div>
            </div>
        </div>
    </div>
</div>