<div class="row">
    <div class="col-sm-12 col-md-8 col-lg-6">
        <div class="alert" *ngIf="error">
            {{ error }}
        </div>
        <h2>Login</h2>
        <form #formData='ngForm' (ngSubmit)="onSubmit(formData)">
            <div class="row form-group">
                <div class="col-sm-12">
                    <label>Email
                        <input type="email" class="form-control" name="email" placeholder="e.g email@address.com" (ngModel)="email" requred>
                    </label>
                </div>
                <div class="col-sm-12">
                    <label>Password
                        <input type="password" class="form-control" name="password" (ngModel)="password" required>
                    </label>
                </div>
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary" [disabled]="!formData.valid">Submit</button>
                    <br/>
                    <a routerLink="/password-reset">Forgotten password?</a>
                </div>
            </div>
        </form>
    </div>
</div>