<section class="section">
    <h1 class="section-heading">Projects of Mine</h1>
    <p class="section-description">Here is a list of things I am working on, or have worked on in the past. I'm not really a freelancer, but I like to have side projects to play with.</p>
    <div class="row">
        <ctnet-projects-list [projects]="projects"></ctnet-projects-list>
        <!--<div class="col-md-6 mb-r">
            <div class="card-overlay" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/img%20(14).jpg')">
                <div class="white-text text-center">
                    <div class="card-block">
                        <a href="" class="teal-text"><h5><i class="fa fa-pie-chart"></i> Marketing</h5></a>
                        <h3>Project title</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem, optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos. Odit sed qui, dolorum!.</p>
                        <a class="btn btn-lg btn-outline-white"><i class="fa fa-clone left"></i> View project</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-r">
            <div class="card-overlay" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/img%20(15).jpg')">
                <div class="white-text text-center">
                    <div class="card-block">
                        <a href="" class="cyan-text"><h5><i class="fa fa-desktop"></i> Software</h5></a>
                        <h3>Project title</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem, optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos. Odit sed qui, dolorum!.</p>
                        <a class="btn btn-lg btn-outline-white"><i class="fa fa-clone left"></i> View project</a>
                    </div>
                </div>
            </div>
        </div>-->
    </div>
</section>
