<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Current projects</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="primary col-md-8 col-sm-12 col-xs-12">
                <section class="latest section">
                    <ctnet-projects-list [projects]="projects"></ctnet-projects-list>
                </section>
            </div>
            <!--<div class="secondary col-md-4 col-sm-12 col-xs-12"></div>-->
        </div>
    </div>
</div>