<td-layout-card-over cardTitle="{{componentName}}" cardSubtitle="" cardWidth="75">
    <div class="row pa-1">
        <form [formGroup]="contact" (ngSubmit)="submitForm(contact.value)" style="width: 100%;">
            <div layout="row" layout-margin [ngClass]="{'has-error':!contact.controls['fromEmail'].valid && contact.controls['fromEmail'].touched}">
                <md-input-container flex>
                    <input md-input placeholder="your email" [formControl]="contact.controls['fromEmail']">
                </md-input-container>
            </div>
            <div layout="row" layout-margin [ngClass]="{'has-error':!contact.controls['subject'].valid && contact.controls['subject'].touched}">
                <md-input-container flex>
                    <input md-input placeholder="subject" [formControl]="contact.controls['subject']">
                </md-input-container>
            </div>
            <div layout="row" layout-margin [ngClass]="{'has-error':!contact.controls['content'].valid && contact.controls['content'].touched}">
                <md-input-container flex>
                    <textarea md-input placeholder="message" maxlength="500" #contentCount [formControl]="contact.controls['content']">
                    </textarea>
                    <md-hint align="end">{{contentCount.value.length}} / 500</md-hint>
                </md-input-container>
            </div>
            <div layout="row" class="justify-content-center" layout-margin>
                <button type="submit" class="btn btn-primary" [disabled]="!contact.valid">Submit</button>
            </div>
        </form>
    </div>
</td-layout-card-over>