<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">All of the Skills</h3>
    </div>
    <div class="panel-body">
        <div *ngFor="let skill of skills | async" class="col-md-4 col-lg-4">
            <div class="panel panel-default">
                <!--<div class="panel-heading">
                    <h3 class="panel-title">{{skill.title}} - {{skill.level}}</h3>
                </div>-->
                <div class="panel-body">
                    <ctnet-skill-item [skill]="skill"></ctnet-skill-item>
                </div>
            </div>
        </div>
    </div>
</div>