<td-layout #layout>
  <td-navigation-drawer sidenavTitle="Corey Tess">
    <md-nav-list>
      <a *ngFor="let item of routes" md-list-item (click)="layout.close()" [routerLink]="[item.route]">
        <md-icon class="fa-lg" fontSet="fa" [fontIcon]="[item.icon]"></md-icon>{{item.title}}
      </a>
      <a *ngIf="af.auth | async" md-list-item [routerLink]="['/dashboard']" (click)="layout.close()">
        <md-icon class="fa-lg" fontSet="fa" fontIcon="fa-tachometer"></md-icon>
        <span>Dashboard</span>
      </a>
      <a *ngIf="af.auth | async" md-list-item (click)="logout(); layout.close();">
        <md-icon class="fa-lg" fontSet="fa" fontIcon="fa-sign-out"></md-icon>
        <span>Sign out</span>
      </a>
    </md-nav-list>
  </td-navigation-drawer>
  <router-outlet></router-outlet>
</td-layout>