<div class="card">
    <div class="card-header bgc-blue-grey-500 tc-grey-50">
        <h5><strong>{{job.title}}</strong> <span class="year pull-right">{{job.startDate | date:'MMMM, y'}} - {{job.endDate == "Present" ? job.endDate : job.endDate | date:'MMMM, y' }}</span></h5>
        <h6><span>{{job.company}}</span> <em class="year pull-right">{{job.city}}, {{job.state}}</em></h6>
    </div>
    <div class="card-block">
        <ctnet-job-roles-list [jobRoles]="job.jobRoles"></ctnet-job-roles-list>
    </div>
</div>