<!--Navbar-->
<!--<nav class="navbar navbar-toggleable-md fixed-top navbar-dark scrolling-navbar stylish-color-dark">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">
            <strong>Corey Tess</strong>
        </a>
        <div class="collapse navbar-collapse" id="navbarNav1">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" [routerLink]="['/blog/']">Blog</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="['/projects/']" routerLinkActive="active">Projects</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="['/portfolio/']" routerLinkActive="active">Portfolio</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="['/about/']" routerLinkActive="active">About</a></li>
                <li class="nav-item" *ngIf="af.auth | async"><a class="nav-link" [routerLink]="['/dashboard/profile']">Dashboard</a></li>
                <li class="nav-item" *ngIf="af.auth | async"><a class="nav-link" (click)="logout()" title="Logout">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>-->
<td-navigation-drawer logo="assets:covalent" sidenavTitle="Corey Tess">
    <md-nav-list>
      <a md-list-item [routerLink]="['/blog/']">
        <md-icon class="fa-lg" fontSet="fa" fontIcon="fa-rss"></md-icon>
        <span>Blog</span>
      </a>
      <a md-list-item [routerLink]="['/projects/']">
        <md-icon class="fa-lg" fontSet="fa" fontIcon="fa-folder-open-o"></md-icon>
        <span>Projects</span>
      </a>
      <a md-list-item [routerLink]="['/portfolio/']">
        <md-icon class="fa-lg" fontSet="fa" fontIcon="fa-newspaper-o"></md-icon>
        <span>Portfolio</span>
      </a>
      <a md-list-item [routerLink]="['/about/']">
        <md-icon class="fa-lg" fontSet="fa" fontIcon="fa-user"></md-icon>
        <span>About</span>
      </a>
      <a *ngIf="af.auth | async" md-list-item [routerLink]="['/dashboard/']">
        <md-icon class="fa-lg" fontSet="fa" fontIcon="fa-tachometer"></md-icon>
        <span>Dashboard</span>
      </a>
      <a *ngIf="af.auth | async" md-list-item (click)="logout()">
        <md-icon class="fa-lg" fontSet="fa" fontIcon="fa-sign-out"></md-icon>
        <span>Sign out</span>
      </a>
    </md-nav-list>
  </td-navigation-drawer>
<!--<md-toolbar>
  <button md-icon-button>
    <md-icon>menu</md-icon>
  </button>
  <span>Corey Tess</span>
  <span flex></span>
  <button md-icon-button [mdMenuTriggerFor]="toolbarMenu1"><md-icon>more_vert</md-icon></button>
  <md-menu #toolbarMenu1="mdMenu">
    <button md-menu-item [routerLink]="['/blog/']">
      <i class="fa fa-cog fa-lg"></i>
      <span>Blog</span>
    </button>
    <button md-menu-item [routerLink]="['/projects/']">
      <md-icon>settings</md-icon>
      <span>Projects</span>
    </button>
    <button md-menu-item [routerLink]="['/portfolio/']">
      <md-icon>settings</md-icon>
      <span>Portfolio</span>
    </button>
    <button md-menu-item [routerLink]="['/about/']">
      <md-icon>person</md-icon>
      <span>About</span>
    </button>
    <button md-menu-item [routerLink]="['/blog/']">
      <md-icon><i class="fa fa-user fa-lg"></i></md-icon>
      <span>Blog</span>
    </button>
    <button md-menu-item>
      <md-icon>exit_to_app</md-icon>
      <span>Sign out</span>
    </button>
  </md-menu>
</md-toolbar>-->