<md-card>
    <form [formGroup]="blogPostForm" (ngSubmit)="submitForm(blogPostForm.value)">
        <md-card-title>Edit Blog Post</md-card-title>
        <md-divider></md-divider>
        <md-card-content class="push-bottom-none">
            <div layout="column">
                <div layout="row" layout-margin [ngClass]="{'has-error':!blogPostForm.controls['title'].valid && blogPostForm.controls['title'].touched}">
                    <md-input-container flex>
                        <input mdInput type="text" placeholder="Title" [formControl]="blogPostForm.controls['title']" name="title" required>
                    </md-input-container>
                    <md-input-container flex>
                        <input mdInput type="text" placeholder="Image URL" [formControl]="blogPostForm.controls['imageUrl']" name="imageUrl">
                    </md-input-container>
                </div>
                <div layout="row" layout-margin>
                    <md-input-container flex>
                        <input mdInput type="text" placeholder="Category" [formControl]="blogPostForm.controls['tag']" name="tag">
                    </md-input-container>
                    <md-input-container flex>
                        <input mdInput type="text" placeholder="Icon" [formControl]="blogPostForm.controls['icon']" name="icon">
                    </md-input-container>
                </div>
                <div layout="row" layout-margin flex="100" [ngClass]="{'has-error':!blogPostForm.controls['text'].valid && blogPostForm.controls['text'].touched}">
                    <!--<quill-editor flex="100" [formControl]="blogPostForm.controls['text']" [config]="editorConfig"></quill-editor>-->
                    <textarea flex="100" [froalaEditor]="options" formControlName="text" ></textarea>
                </div>
                <div layout="row" layout-margin flex="20">
                    <md-slide-toggle [formControl]="blogPostForm.controls['published']" name="published">Published</md-slide-toggle>
                </div>
            </div>
        </md-card-content>
        <md-divider></md-divider>
        <md-card-actions>
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default" [routerLink]="['/dashboard/blog']" (click)="confirm()">Cancel</button>
                <button type="submit" class="btn btn-primary" [disabled]="!blogPostForm.valid">Submit</button>
            </div>
        </md-card-actions>
    </form>
</md-card>
<!--<div class="page-header">
    <h1>Edit Post</h1>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Edit Blog Post</h3>
    </div>
    <div class="panel-body">
        <form [formGroup]="blogPostForm" (ngSubmit)="save(blogPostForm.value)">
            <div class="row form-group" [ngClass]="{'has-error':!blogPostForm.controls['title'].valid && blogPostForm.controls['title'].touched}">
                <div class="col-sm-12 col-md-2 col-lg-2">
                    <label>Title</label>
                </div>
                <div class="col-sm-12 col-md-10 col-lg-10">
                    <input type="text" class="form-control" placeholder="title" [formControl]="blogPostForm.controls['title']">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-12 col-md-2 col-lg-2">
                    <label>Image URL</label>
                </div>
                <div class="col-sm-12 col-md-10 col-lg-10">
                    <input type="text" class="form-control" placeholder="image url" [formControl]="blogPostForm.controls['imageUrl']">
                </div>
            </div>
            <div class="row form-group" [ngClass]="{'has-error':!blogPostForm.controls['text'].valid && blogPostForm.controls['text'].touched}">
                <div class="col-sm-12 col-md-2 col-lg-2">
                    <label>Post</label>
                </div>
                <div class="col-sm-12 col-md-10 col-lg-10">
                    <quill-editor [formControl]="blogPostForm.controls['text']" [config]="editorConfig"></quill-editor>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-12 col-md-2 col-lg-2">
                    <label>Publish</label>
                </div>
                <div class="col-sm-12 col-md-10 col-lg-10">
                    <div class="radio-inline">
                        <label>
                            <input type="radio" name="published" value="true" [formControl]="blogPostForm.controls['published']">
                            True
                        </label>
                    </div>
                    <div class="radio-inline">
                        <label>
                            <input type="radio" name="published" value="false" [formControl]="blogPostForm.controls['published']">
                            False
                        </label>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-default" [routerLink]="['/dashboard/blog']">Cancel</button>
                        <button type="submit" class="btn btn-primary" [disabled]="!blogPostForm.valid">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>-->