<div class="card card-block">
    <h4 class="card-title">Blog Posts</h4>
    <div class="card-text">
        <table class="table table-striped table-hover">
            <thead>
                <td>Title</td>
                <td>Date Created</td>
                <td>Date Modified</td>
                <td>Author</td>
                <td>Text</td>
                <td></td>
            </thead>
            <tr blog-dashboard-item [blogPost]="blogPost" *ngFor="let blogPost of recentBlogPosts | async" class="text-left"></tr>
        </table>
    </div>
    <div class="flex-row">
        <button type="button" class="btn btn-default btn-sm m-l" routerLink="add"><i class="fa fa-plus"></i> New Post</button>
    </div>
</div>