<!--<td>{{article.$key}}</td>-->
<td>{{article.title}}</td>
<td>{{article.dateCreated | date:'yMdjm'}}</td>
<td>{{article.dateModified | date:'yMdjm'}}</td>
<td>{{article.author}}</td>
<td [innerHtml]='article.text | truncate:40'></td>
<td>
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-success btn-sm"><i class="fa fa-eye fa-lg"></i></button>
        <button type="button" class="btn btn-primary btn-sm" (click)="gotoEditArticle(article.$key)"><i class="fa fa-edit fa-lg"></i></button>
        <button type="button" class="btn btn-danger btn-sm" (click)="deleteArticle(article.$key)"><i class="fa fa-trash fa-lg"></i></button>
    </div>
</td>