<div class="page-header">
    <h1>Edit Post</h1>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Edit Blog Post</h3>
    </div>
    <div class="panel-body">
        <form [formGroup]="form" (ngSubmit)="save(form.value)">
            <div class="row form-group" [ngClass]="{'has-error':!form.controls['title'].valid && form.controls['title'].touched}">
                <div class="col-sm-12 col-md-2 col-lg-2">
                    <label>Title</label>
                </div>
                <div class="col-sm-12 col-md-10 col-lg-10">
                    <input type="text" class="form-control" placeholder="title" [formControl]="form.controls['title']">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-12 col-md-2 col-lg-2">
                    <label>Image URL</label>
                </div>
                <div class="col-sm-12 col-md-10 col-lg-10">
                    <input type="text" class="form-control" placeholder="image url" [formControl]="form.controls['imageUrl']">
                </div>
            </div>
            <div class="row form-group" [ngClass]="{'has-error':!form.controls['text'].valid && form.controls['text'].touched}">
                <div class="col-sm-12 col-md-2 col-lg-2">
                    <label>Post</label>
                </div>
                <div class="col-sm-12 col-md-10 col-lg-10">
                    <quill-editor [formControl]="form.controls['text']" [config]="editorConfig"></quill-editor>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-12 col-md-2 col-lg-2">
                    <label>Publish</label>
                </div>
                <div class="col-sm-12 col-md-10 col-lg-10">
                    <div class="radio-inline">
                        <label>
                            <input type="radio" name="published" value="true" [formControl]="form.controls['published']">
                            True
                        </label>
                    </div>
                    <div class="radio-inline">
                        <label>
                            <input type="radio" name="published" value="false" [formControl]="form.controls['published']">
                            False
                        </label>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-default" [routerLink]="['/dashboard/blog']">Cancel</button>
                        <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>