<md-card>
    <form [formGroup]="blogPostAdd" (ngSubmit)="submitForm(blogPostAdd.value)">
        <md-card-title>New Blog Post</md-card-title>
        <md-divider></md-divider>
        <md-card-content class="push-bottom-none">
            <div layout="column">
                <div layout="row" layout-margin [ngClass]="{'has-error':!blogPostAdd.controls['title'].valid && blogPostAdd.controls['title'].touched}">
                    <md-input-container flex>
                        <input mdInput type="text" placeholder="Title" [formControl]="blogPostAdd.controls['title']" name="title" required>
                    </md-input-container>
                    <md-input-container flex>
                        <input mdInput type="text" placeholder="Image URL" [formControl]="blogPostAdd.controls['imageUrl']" name="imageUrl">
                    </md-input-container>
                </div>
                <div layout="row" layout-margin>
                    <md-input-container flex>
                        <input mdInput type="text" placeholder="Category" [formControl]="blogPostAdd.controls['tag']" name="tag">
                    </md-input-container>
                    <md-input-container flex>
                        <input mdInput type="text" placeholder="Icon" [formControl]="blogPostAdd.controls['icon']" name="icon">
                    </md-input-container>
                </div>
                <div layout="row" layout-margin flex="100" [ngClass]="{'has-error':!blogPostAdd.controls['text'].valid && blogPostAdd.controls['text'].touched}">
                    <!--<quill-editor flex="100" [formControl]="blogPostAdd.controls['text']" [config]="editorConfig"></quill-editor>-->
                    <textarea flex="100" [froalaEditor]="options" formControlName="text" ></textarea>
                </div>
                <div layout="row" layout-margin flex="20">
                    <md-slide-toggle [formControl]="blogPostAdd.controls['published']" name="published">Published</md-slide-toggle>
                </div>
            </div>
        </md-card-content>
        <md-divider></md-divider>
        <md-card-actions>
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default" [routerLink]="['/dashboard/blog']" (click)="confirm()">Cancel</button>
                <button type="submit" class="btn btn-primary" [disabled]="!blogPostAdd.valid">Submit</button>
            </div>
        </md-card-actions>
    </form>
</md-card>
