<md-list-item>
    <md-slide-toggle md-list-icon [(ngModel)]="blogPost.published" class="mr-2"></md-slide-toggle>
    <h3 md-line flex-gt-xs="60" flex-xs="40"> {{blogPost.title}} </h3>
    <div class="md-caption tc-grey-500" flex-gt-xs="40" [innerHtml]='blogPost.text | truncate:40'></div>
    <span flex></span>
    <span flex-gt-xs="60" flex-xs="40" layout-gt-xs="row">
        <div class="md-caption tc-grey-500" flex-gt-xs="50"> {{ blogPost.author }} </div>
        <div class="md-caption tc-grey-500" flex-gt-xs="50"> {{ blogPost.dateCreated | date:'yMdjm' }} </div>
        <div class="md-caption tc-grey-500" flex-gt-xs="50"> {{ blogPost.dateModified | date:'yMdjm' }} </div>
    </span>
    <span>
        <button md-icon-button [md-menu-trigger-for]="menu">
        <md-icon>more_vert</md-icon>
        </button>
        <md-menu x-position="before" #menu="mdMenu">
            <button (click)="gotoEditBlogPost(blogPost.$key)" md-menu-item>Edit</button>
            <button (click)="openConfirm(blogPost.id)" md-menu-item>Delete</button>
        </md-menu>
    </span>
</md-list-item>