<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Recent Posts</h3>
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
                <!--<td>Id</td>-->
                <td>Title</td>
                <td>Date Created</td>
                <td>Date Modified</td>
                <td>Author</td>
                <td>Text</td>
            </thead>
            <tr blog-dashboard-item [article]="article" *ngFor="let article of recentArticles | async" class="text-left"></tr>
        </table>
    </div>
</div>