<div class="row">
    <div class="col-sm-12 col-md-9 col-lg-10">
        <!--Navbar-->
        <nav class="navbar navbar-toggleable-md navbar-dark bg-primary">
            <div class="container">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <strong>Administration</strong>
                    </a>
                    <div class="collapse navbar-collapse" id="navbarNav1">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" routerLink="profile">Profile <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="account">Account</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="blog">Blog Admin</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="skills">Skills Admin</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="settings">Settings</a>
                            </li>
                        </ul>
                    </div>
            </div>
        </nav>
        <router-outlet></router-outlet>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
    </div>
</div>
<!--<ul class="nav nav-tabs md-pills pills-ins" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#panel11" role="tab"><i class="fa fa-user"></i> Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#panel12" role="tab"><i class="fa fa-heart"></i> Follow</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#panel13" role="tab"><i class="fa fa-envelope"></i> Contact</a>
    </li>
</ul>-->