<div class="card card-block">
    <h4 class="card-title">Skills</h4>
    <div class="card-text">
        <table class="table table-striped table-hover">
            <thead>
                <td>Title</td>
                <td>Level</td>
                <td>Style</td>
                <td>Percentage</td>
                <td>Featured</td>
                <td>Order</td>
                <!--<td>Date Created</td>
                <td>Date Modified</td>-->
                <td></td>
            </thead>
            <tr dashboard-item-skill [skill]="skill" *ngFor="let skill of skills | async" class="text-left"></tr>
        </table>
    </div>
    <div class="flex-row">
        <button type="button" class="btn btn-default btn-sm m-l" routerLink="add"><i class="fa fa-plus"></i> New Skill</button>
    </div>
</div>