<md-card tdMediaToggle="gt-xs" [mediaClasses]="['push']">
    <!--<template tdLoading="features.load">-->
        <!--<td-search-box class="push-left push-right" placeholder="search" [alwaysVisible]="true" (searchDebounce)="recentBlogPosts($event)"></td-search-box>-->
        <md-divider></md-divider>
        <md-list class="will-load">
            <div class="md-padding" *ngIf="!skills || skills.length === 0" layout="row" layout-align="center center">
                <h3>No skills to display.</h3>
            </div>
            <dashboard-list-skills [skills]="skills"></dashboard-list-skills>
        </md-list>
    <!--</template>-->
</md-card>
<button md-fab color="accent" class="mat-fab-bottom-right fixed" [routerLink]="['add']"> 
    <md-icon>add</md-icon>
</button>