<div class="row">
    <div class="col-sm-12 col-md-3 col-lg-2">
        <ul class="nav nav-pills nav-stacked" style="padding-top: 100px;">
            <li><a routerLink="profile" class="active" data-toggle="tab">Profile</a></li>
            <li><a routerLink="account" data-toggle="tab">Account</a></li>
            <li><a routerLink="blog" data-toggle="tab">Blog Admin</a></li>
            <li><a routerLink="skills" data-toggle="tab">Skill Admin</a></li>
            <li><a routerLink="settings" data-toggle="tab">Settings</a></li>
        </ul>
    </div>
    <div class="col-sm-12 col-md-9 col-lg-10">
        <router-outlet></router-outlet>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
    </div>
</div>