<nav class="navbar navbar-toggleable-md navbar-dark bg-primary">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav2" aria-controls="navbarNav2"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">
            <strong>Administration</strong>
        </a>
        <div class="collapse navbar-collapse" id="navbarNav2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="profile">Profile <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="account">Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="blog">Blog Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="skills">Skills Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="settings">Settings</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="row">
    <div class="col-lg-12 mt-4">
        <router-outlet></router-outlet>
    </div>
</div>