<div class="col-sm-12 col-md-8 col-lg-6">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">User Profile<img src="https://firebasestorage.googleapis.com/v0/b/ctnet-ed473.appspot.com/o/favicon.ico?alt=media&token=43475cb1-28c7-4a73-98e4-ed75dfe8002a" alt="image" class="m-l"></h3>
    </div>
    <div class="panel-body">
      <div *ngIf="!userData" class="callout alert">
        <p class="lead">
          No Data available
        </p>
      </div>
      <div *ngIf="userData">
        <label class="m-r">Email:</label><span>{{userData.auth.email}}</span>
        <br/>
        <label class="m-r">Display Name:</label><span>{{userData.auth.displayName}}</span>
      </div>
    </div>
  </div>
</div>