<div class="page-header">
    <h1>Add a Skill</h1>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">New Skill</h3>
    </div>
    <div class="panel-body">
        <form [formGroup]="skillToAdd" (ngSubmit)="submitForm(skillToAdd.value)">
            <div class="row form-group" [ngClass]="{'has-error':!skillToAdd.controls['title'].valid && skillToAdd.controls['title'].touched}">
                <div class="col-sm-12 col-md-2 col-lg-2">
                    <label>Title</label>
                </div>
                <div class="col-sm-12 col-md-10 col-lg-10">
                    <input type="text" class="form-control" placeholder="title" [formControl]="skillToAdd.controls['title']">
                </div>
            </div>
            <div class="row form-group" [ngClass]="{'has-error':!skillToAdd.controls['level'].valid && skillToAdd.controls['level'].touched}">
                <div class="col-sm-12 col-md-2 col-lg-2">
                    <label>Level</label>
                </div>
                <div class="col-sm-12 col-md-10 col-lg-10">
                    <!--<input type="text" class="form-control" placeholder="level" [formControl]="skillToAdd.controls['level']">-->
                    <select class="form-control" [formControl]="skillToAdd.controls['level']">
                        <option value="" disabled>Select Proficiency Level</option>
                        <option value="Beginner">Beginner</option>
                        <option value="Intermediate">Intermediate</option>
                        <option value="Advanced">Advanced</option>
                        <option value="Expert">Expert</option>
                    </select>
                </div>
            </div>
            <div class="row form-group" [ngClass]="{'has-error':!skillToAdd.controls['style'].valid && skillToAdd.controls['style'].touched}">
                <div class="col-sm-12 col-md-2 col-lg-2">
                    <label>Style</label>
                </div>
                <div class="col-sm-12 col-md-10 col-lg-10">
                    <!--<input type="text" class="form-control" placeholder="style" [formControl]="skillToAdd.controls['style']">-->
                    <select class="form-control" [formControl]="skillToAdd.controls['style']">
                        <option value="" disabled>Select Style</option>
                        <option value="progress-bar-default">Default</option>
                        <option value="progress-bar-primary">Primary</option>
                        <option value="progress-bar-info">Info</option>
                        <option value="progress-bar-warning">Warning</option>
                        <option value="progress-bar-danger">Danger</option>
                    </select>
                </div>
            </div>
            <div class="row form-group" [ngClass]="{'has-error':!skillToAdd.controls['percentage'].valid && skillToAdd.controls['percentage'].touched}">
                <div class="col-sm-12 col-md-2 col-lg-2">
                    <label>Percentage</label>
                </div>
                <div class="col-sm-12 col-md-10 col-lg-10">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="percentage" [formControl]="skillToAdd.controls['percentage']">
                        <i class="input-group-addon fa fa-percent"></i>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-12 col-md-2 col-lg-2">
                    <label>Featured</label>
                </div>
                <div class="col-sm-12 col-md-10 col-lg-10">
                    <div class="radio-inline">
                        <label>
                            <input type="radio" name="published" value="true" [formControl]="skillToAdd.controls['featured']">
                            True
                        </label>
                    </div>
                    <div class="radio-inline">
                        <label>
                            <input type="radio" name="published" value="false" [formControl]="skillToAdd.controls['featured']">
                            False
                        </label>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-default" [routerLink]="['/dashboard/skills']" (click)="confirm()">Cancel</button>
                        <button type="submit" class="btn btn-primary" [disabled]="!skillToAdd.valid">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>