<md-card>
    <md-card-title>New Skill</md-card-title>
    <md-divider></md-divider>
    <md-card-content class="push-bottom-none">
        <form [formGroup]="skillToAdd" (ngSubmit)="save(skillToAdd.value)">
            <div layout="row" layout-margin [ngClass]="{'has-error':!skillToAdd.controls['title'].valid && skillToAdd.controls['title'].touched}">
                <md-input-container flex>
                    <input mdInput type="text" placeholder="Title" [formControl]="skillToAdd.controls['title']" name="title" required>
                </md-input-container>
                <md-select flex="50" placeholder="Select Skill Level" [formControl]="skillToAdd.controls['level']" name="level">
                    <md-option value="Just Starting">Just Starting</md-option>
                    <md-option value="Knowledgeable">Knowledgeable</md-option>
                    <md-option value="Strong">Strong</md-option>
                </md-select>
            </div>
            <div layout="row" layout-margin>
                <md-input-container flex layout-margin>
                    <input mdInput type="number" min="1" max="100" placeholder="Percentage" [formControl]="skillToAdd.controls['percentage']"
                        name="percentage">
                </md-input-container>
                <md-select flex="50" placeholder="Select a Style" [formControl]="skillToAdd.controls['style']" name="style">
                    <md-option value="bg-primary">Primary</md-option>
                    <md-option value="bg-success">Success</md-option>
                    <md-option value="bg-info">Info</md-option>
                    <md-option value="bg-warning">Warning</md-option>
                    <md-option value="bg-danger">Danger</md-option>
                </md-select>
            </div>
            <div layout="row" layout-margin flex="10" [ngClass]="{'has-error':!skillToAdd.controls['order'].valid && skillToAdd.controls['order'].touched}">
                <md-input-container flex layout-margin>
                    <input mdInput placeholder="Order" type="number" min="0" max="1000" id="order" [formControl]="skillToAdd.controls['order']">
                </md-input-container>
            </div>
            <div layout="row" layout-margin>
                <md-slide-toggle [formControl]="skillToAdd.controls['featured']" name="featured">Featured</md-slide-toggle>
            </div>
        </form>
    </md-card-content>
    <md-divider></md-divider>
    <md-card-actions>
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default" [routerLink]="['/dashboard/skills']" (click)="confirm()">Cancel</button>
            <button type="submit" class="btn btn-primary" [disabled]="!skillToAdd.valid">Submit</button>
        </div>
    </md-card-actions>
</md-card>