<div class="container">
    <div class="col-sm-12 col-md-6 col-lg-8">
        <!--<div class="panel panel-default">
              <div class="panel-heading">
                    <h3 class="panel-title">Deep Thoughts <small>from Corey</small></h3>
              </div>
              <div class="panel-body">
                    <blog-post-list></blog-post-list>
              </div>
        </div>-->
        <div class="page-header">
            <h1>Deep Thoughts <small>from Corey</small></h1>
        </div>
        <blog-post-list></blog-post-list>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 hidden">
        <div class="page-header">
          <h1>Sidebar <small>it's a thing</small></h1>
        </div>
    </div>
</div>