<td-layout-nav>
    <div td-toolbar-content flex layout="row" layout-align="start center">
        Corey Tess
    </div>
    <router-outlet></router-outlet>
    <td-layout-footer class="bgc-blue-grey-400">
        <div class="text-center">
            <a md-mini-fab color="warn" href="https://firebasestorage.googleapis.com/v0/b/ctnet-ed473.appspot.com/o/corey-tess-resume.pdf?alt=media&token=2d8d07bd-be93-4495-839e-0594687b8ae8"
                target="_blank" title="resume"><i class="fa fa-file-pdf-o tc-grey-50"></i></a>
            <a md-mini-fab color="danger" href="http://stackoverflow.com/users/322478/coreyt" target="_blank" title="stack overflow"><i class="fa fa-stack-overflow tc-grey-50"></i></a>
            <a md-mini-fab class="bgc-blue-A700" href="https://www.linkedin.com/in/ctess" target="_blank" title="linkedin"><i class="fa fa-linkedin tc-grey-50"></i></a>
            <a md-mini-fab class="bgc-blue-grey-400" href="https://github.com/CoreyT355" target="_blank" title="github"><i class="fa fa-github tc-grey-50"></i></a>
            <a md-mini-fab class="bgc-light-blue-900" href="https://www.instagram.com/corey_tess/" target="_blank" title="instagram"><i class="fa fa-instagram tc-grey-50"></i></a>
            <a md-mini-fab class="bgc-deep-orange-A700" href="https://plus.google.com/u/0/116118617540666945210" target="_blank" title="google+"><i class="fa fa-google-plus tc-grey-50"></i></a>
        </div>
        <div class="text-center">
            <div class="container-fluid">
                <i class="fa fa-copyright"></i> 2017 Corey Tess
            </div>
        </div>
    </td-layout-footer>
</td-layout-nav>